.contactPageDiv{
    margin-top: 8vh;
    height: 92vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    
}

.footerContact{
    position: absolute;
    left: -600px;
}

.intalnireSiContactDiv{
    height: 70vh;
    width: 60%;
    max-width: 950px;
    display: flex;
    flex-direction: row;
}
.intalnireDiv{
    height: 85%;
    width: 40%;
    margin-left: 10vw;
    margin-top: 15vh;
    min-width: 700px;
    max-height: 600px;
}
.topIntalnireDiv{
    width: 100%;
    height: 15%;
    background-color: rgb(10, 10, 10);
    display: flex;
    align-items: center;
    justify-content: center;
}
.titluIntalnire{
    font-size: 2.2vw;

}
.formIntalnire{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    background-color: rgb(10, 10, 10);
}
.formIntalnireLeftSide{
    width: 50%;
    height: 100%;
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    margin-left: 2vh;
}
.inputNume{
    width: 100%;
    height: 100%;
    font-size: 2.1vh;
    outline: none;
    border:none;
    position: relative;
    background-color: transparent;
    z-index: 1;
}
.inputNumeDiv{
    margin-top: 10%;
    width: 80%;
    height: 2%;
    font-size: 2.1vh;
    outline: none;
    border:none;
    position: relative;
    background-color: transparent;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
.inputNumeDiv::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 33px;
    height: 2px;
    background-color: white;
    z-index: -1;
    transition: transform 0.3s ease-in-out;
    transform: scaleX(0);
    color: black;
    border-radius: 3px;
    transform-origin: left;
}

.inputNumeDiv:hover::before,
.inputNumeDiv:focus::before{
    transform: scaleX(1);
}

.inputEmail{
    width: 100%;
    height: 100%;
    font-size: 2.1vh;
    outline: none;
    border:none;
    position: relative;
    background-color: transparent;
    z-index: 1;
}
.inputEmailDiv{
    margin-top: 5%;
    width: 80%;
    height: 21%;
    font-size: 2.1vh;
    outline: none;
    border:none;
    position: relative;
    border-bottom: 2px solid rgb(57, 57, 57);
    background-color: transparent;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
.inputEmailDiv::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 33px;
    height: 2px;
    background-color: white;
    z-index: -1;
    transition: transform 0.3s ease-in-out;
    transform: scaleX(0);
    color: black;
    border-radius: 3px;
    transform-origin: left;
}

.inputEmailDiv:hover::before,
.inputEmailDiv:focus::before{
    transform: scaleX(1);
}

.formIntalnireRightSide{
    width: 50%;
    height: 100%;
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    margin-left: 2vh;
}
.inputPrenume{
    width: 100%;
    height: 100%;
    font-size: 2.1vh;
    outline: none;
    border:none;
    position: relative;
    background-color: transparent;
    z-index: 1;
}
.inputPrenumeDiv{
    margin-top: 5%;
    width: 80%;
    height: 21%;
    font-size: 2.1vh;
    outline: none;
    border:none;
    position: relative;
    border-bottom: 2px solid rgb(57, 57, 57);
    background-color: transparent;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
.inputPrenumeDiv::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 33px;
    height: 2px;
    background-color: white;
    z-index: -1;
    transition: transform 0.3s ease-in-out;
    transform: scaleX(0);
    color: black;
    border-radius: 3px;
    transform-origin: left;
}

.inputPrenumeDiv:hover::before,
.inputPrenumeDiv:focus::before{
    transform: scaleX(1);
}
.inputTelefon{
    width: 100%;
    height: 100%;
    font-size: 2.1vh;
    outline: none;
    border:none;
    position: relative;
    background-color: transparent;
    z-index: 1;
}
.inputTelefonDiv{
    margin-top: 5%;
    width: 80%;
    height: 21%;
    font-size: 2.1vh;
    outline: none;
    border:none;
    position: relative;
    border-bottom: 2px solid rgb(57, 57, 57);
    background-color: transparent;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
.inputTelefonDiv::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 33px;
    height: 2px;
    background-color: white;
    z-index: -1;
    transition: transform 0.3s ease-in-out;
    transform: scaleX(0);
    color: black;
    border-radius: 3px;
    transform-origin: left;
}

.inputTelefonDiv:hover::before,
.inputTelefonDiv:focus::before{
    transform: scaleX(1);
}

.formIntalnireMidSide{
    width: 128%;
    height: 6%;
    background-color: rgb(10, 10, 10);
    display: flex;
    justify-content: center;
    margin-left: 11vw;
}
.datePicker{
    width: 128%;
    height: 100%;
    font-size: 2.1vh;
    outline: none;
    border:none;
    position: relative;
    background-color: transparent;
    z-index: 1;
}
.formIntalnireMidSide{
    display: flex;
    justify-content: flex-start;
    width: 49%;
    height: 5.7%;
    font-size: 2.1vh;
    margin-left: 190px;
    outline: none;
    border:none;
    position: relative;
    border-bottom: 2px solid rgb(57, 57, 57);
    background-color: transparent;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    left: -20px;
}
.formIntalnireMidSide::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 34px;
    height: 2px;
    background-color: white;
    z-index: -1;
    transition: transform 0.3s ease-in-out;
    transform: scaleX(0);
    color: black;
    border-radius: 3px;
    transform-origin: left;
}

.formIntalnireMidSide:hover::before,
.formIntalnireMidSide:focus::before{
    transform: scaleX(1);
}

.formIntalnireBottomSide{
    background-color: rgb(10, 10, 10);
    width: 100%;
    height: 23%;
    display: flex;
    align-items: center;
}

.politicaDeConfidentialitateDiv{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.politicaDeConfidentialitateDivLeftSide{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 60%;
}
.politicaDeConfidentialitateDivRightSide{
    display: flex;
    align-items: center;
    height: 50px;
    width: 40%;
}

.checkboxPoliticaConfidentialitate{
    margin-left: 2vh;
    height: 1vw;
    width: 2vw;
    transition: all 0.2s ease-in-out;
    accent-color: rgb(210, 180, 140);
    border: none;
    outline: none;
}


.politicaDeConfidentialitateText{
    margin-left: 8px;
    width: 700px;
    font-size: 1.5vh;
}

.bgcontainer{
    position: absolute;
    height: 70vh;
    width: 70.5vw;
    z-index: -4;
    left: 600px;
    margin-top: 47vh;
}
.bgContact{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.contactDiv{
    position: relative;
    height: 38vh;
    width: 40vw;
    background-color: transparent;
    margin-top: 8vh;
}

.contactTitle{
    font-size: 8vh;
    font-weight: bold;
}

.atelier, .nrTelefon, .mail{
    margin-top: 2vh;
    margin-left: 2vw;
}

.locatieText, .nrTelefonText, .contactWhatsappText, .contactMail{
    font-size: 2.5vh;
    color: white;
    transition: all 0.2s ease-in-out;
}
.locatieText:hover, .nrTelefonText:hover, .contactMail:hover{
    color: rgb(210, 180, 140);
}



@media screen and (max-width: 1800px) and (min-width: 1300px)
 {
    .inputTelefonDiv::before{
        top: 30px;
    }
    .inputEmailDiv::before{
        top: 30px;
    }
    .inputNumeDiv::before{
        top: 30px;
    }
    .inputPrenumeDiv::before{
        top: 30px;
    }
    .intalnireDiv{
        height: 120%;
        width: 40%;
        margin-left: 10vw;
        margin-top: 15vh;
        min-width: 600px;
    }
    .datePicker{
        width: 350px;
        height: 45%;
        font-size: 3vh;
        cursor: pointer;
    }
    .trimiteIntalnireBtn{
        margin-left: 5vh;
      }
      .formIntalnireMidSide{
        width: 57%;
        left: -50px;
      }

      .intalnireSiContactDiv{
        max-width: 740px;
        background-color: rgb(10, 10, 10);
        height: 470px;
    }
    .formIntalnireBottomSide{
        background-color: rgb(10, 10, 10);
        width: 97%;
        height: 23%;
        display: flex;
        align-items: center;
    }
    .politicaDeConfidentialitateText{
        margin-left: 8px;
        width: 500px;
        font-size: 2vh;
    }

    .politicaDeConfidentialitateDivLeftSide{
        width: 390px;
    }
    .politicaDeConfidentialitateDivRightSide{
        width: 30%;
    }
}